# PlatformIO
firmware/.pio/
firmware/.pioenvs/
firmware/.piolibdeps/
.vscode/
!.vscode/extensions.json

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.svelte-kit/
frontend/stats.html

# Frontend build output that is copied into the LittleFS image
firmware/data/www/

# Local
*.log
.DS_Store
build/
